parameters:
	ignoreErrors:
		-
			message: '#^Method App\\Actions\\Admin\\Role\\CreateRole\:\:handle\(\) should return App\\Models\\Role but returns Spatie\\Permission\\Contracts\\Role\.$#'
			identifier: return.type
			count: 1
			path: app/Actions/Admin/Role/CreateRole.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$foto_perfil\.$#'
			identifier: property.notFound
			count: 1
			path: app/Actions/Admin/User/ForceDeleteUser.php

		-
			message: '#^Method App\\Actions\\Jetstream\\CreateTeam\:\:create\(\) should return App\\Models\\Team but returns Illuminate\\Database\\Eloquent\\Model\.$#'
			identifier: return.type
			count: 1
			path: app/Actions/Jetstream/CreateTeam.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:each\(\) expects callable\(Illuminate\\Database\\Eloquent\\Model, int\)\: mixed, Closure\(App\\Models\\Team\)\: void given\.$#'
			identifier: argument.type
			count: 1
			path: app/Actions/Jetstream/DeleteUser.php

		-
			message: '#^Parameter \#1 \$invitation of class Laravel\\Jetstream\\Mail\\TeamInvitation constructor expects Laravel\\Jetstream\\TeamInvitation, Illuminate\\Database\\Eloquent\\Model given\.$#'
			identifier: argument.type
			count: 1
			path: app/Actions/Jetstream/InviteTeamMember.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Actions/Jetstream/RemoveTeamMember.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$banner\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Admin/ProfileController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$cargo\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Admin/RoleController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Admin/RoleController.php

		-
			message: '#^Cannot call method diffForHumans\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Admin/RoleController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,App\\Models\\User\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Http/Controllers/Admin/RoleController.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/Admin/RoleController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$area\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Admin/UserController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$cargo\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Admin/UserController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$departamento\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Admin/UserController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$fecha_ingreso\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Admin/UserController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Admin/UserController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$sexo\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Admin/UserController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$telefono_celular\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Admin/UserController.php

		-
			message: '#^Cannot call method diffForHumans\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Admin/UserController.php

		-
			message: '#^Cannot call method format\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Admin/UserController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,App\\Models\\User\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Http/Controllers/Admin/UserController.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/Admin/UserController.php

		-
			message: '#^Using nullsafe property access "\?\-\>telefono_celular" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/Admin/UserController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Requests/Admin/Profile/UpdateProfileRequest.php

		-
			message: '#^Property App\\Models\\BaseModel\:\:\$defaultSort \(string\) on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.property
			count: 1
			path: app/Models/BaseModel.php

		-
			message: '#^Property App\\Models\\BaseModel\:\:\$searchable \(array\) on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.property
			count: 1
			path: app/Models/BaseModel.php

		-
			message: '#^PHPDoc type array\<int, string\> of property App\\Models\\Team\:\:\$fillable is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$fillable\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Models/Team.php

		-
			message: '#^Property App\\Models\\User\:\:\$defaultSort \(string\) on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.property
			count: 1
			path: app/Models/User.php

		-
			message: '#^Property App\\Models\\User\:\:\$searchable \(array\) on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.property
			count: 1
			path: app/Models/User.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/Admin/ActivityLogService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$description\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/Admin/ActivityLogService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$properties\.$#'
			identifier: property.notFound
			count: 2
			path: app/Services/Admin/ActivityLogService.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Services/Admin/ActivityLogService.php

		-
			message: '#^Call to an undefined method Barryvdh\\DomPDF\\PDF\:\:set_option\(\)\.$#'
			identifier: method.notFound
			count: 6
			path: app/Services/Admin/ExportService.php

		-
			message: '#^Offset 0 on non\-empty\-list\<string\> on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: app/Services/Admin/ExportService.php

		-
			message: '#^Strict comparison using \=\=\= between mixed~\(0\|0\.0\|''''\|''0''\|array\{\}\|false\|null\) and ''0'' will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: app/Services/Admin/ExportService.php

		-
			message: '#^Using nullsafe property access "\?\-\>area" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Services/Admin/ExportService.php

		-
			message: '#^Using nullsafe property access "\?\-\>cargo" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Services/Admin/ExportService.php

		-
			message: '#^Using nullsafe property access "\?\-\>celular" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Services/Admin/ExportService.php

		-
			message: '#^Using nullsafe property access "\?\-\>dni" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Services/Admin/ExportService.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Services/Admin/ExportService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 2
			path: app/Services/Admin/RoleService.php

		-
			message: '#^Access to property \$name on an unknown class Eloquent\.$#'
			identifier: class.notFound
			count: 2
			path: app/Services/Admin/RoleService.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,Spatie\\Activitylog\\Models\\Activity\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 2
			path: app/Services/Admin/RoleService.php

		-
			message: '#^Right side of && is always false\.$#'
			identifier: booleanAnd.rightAlwaysFalse
			count: 1
			path: app/Services/Admin/RoleService.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 4
			path: app/Services/Admin/RoleService.php

		-
			message: '#^Called ''pluck'' on Laravel collection, but could have been retrieved as a query\.$#'
			identifier: larastan.noUnnecessaryCollectionCall
			count: 1
			path: app/Services/Admin/SettingService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$dni\.$#'
			identifier: property.notFound
			count: 2
			path: app/Services/Admin/UserService.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\:\:filter\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Services/Admin/UserService.php

		-
			message: '#^Using nullsafe property access "\?\-\>dni" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Services/Admin/UserService.php

		-
			message: '#^Trait App\\Traits\\HasAudit is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: app/Traits/HasAudit.php
